* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

/* sizing of map container */
.leaflet-container {
  height: 100vh;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: overlap;
  justify-items: end;
}

.menu-container {
  background-color: white;
  width: 400px;
  height: auto;
  max-height: 90vh;
  z-index: 100;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
}

.transport-selector-container {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.table-container {
  margin-top: 10px;
  width: 100%;
  height: 94%;
  overflow-y: auto;
}

.map-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  vertical-align: top;
}


thead {
  position: sticky;
  top: 0;
}


/* Stop Circles */
.leaflet-interactive {
  fill-opacity: 1 !important;
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 10px;
}